
.top-widgets {
  padding: 8px 0;
  a{
    text-decoration: none;
    &:hover{
      opacity: 0.7;
    }
  }
  li {
    list-style-type: none;
    a {
      font-size: 14px;
      color: white;
      text-decoration: none !important;
      font-family: "Segoe UI Regular";
      &:hover{
        opacity: 0.7;
      }
    }
    p {
      font-size: 14px;
      margin-bottom: 0;
      color: white;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    li {
      img{
        max-width: 180px!important;
      }
      .textwidget {
        font-size: 20px;
        color: white;
        font-family: "Segoe UI Bold";
      }
    }
  }
  .phone{
    li{
      display: flex;
      align-items: center;
      &::before{
        display: inline-block;
        content: " ";
        background-image: url("../svg/telefoni.svg");
        background-size: 20px 20px;
        height: 20px;
        width: 20px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 10px;
      }
    }
  }
  .email {
    display: flex;
    align-items: center;
    li{
      display: flex;
    align-items: center;
      &::before{
        display: inline-block;
        content: " ";
        background-image: url("../svg/e-mail.svg");
        background-size: 20px 20px;
        height: 20px;
        width: 20px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 10px;
      }
    }
  }
  .address {
    display: flex;
    align-items: center;
    li{
      display: flex;
    align-items: center;
      &::before{
        display: inline-block;
        content: " ";
        background-image: url("../svg/lokacioni.svg");
        background-size: 20px 20px;
        height: 20px;
        width: 35px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 10px;
      }
    }
  }
}
